# -------------------------
# Deploy Config
# -------------------------
PRIVATE_KEY=
RPC_URL=

# Optionally set this to reuse already-deployed contracts.
# If any are left blank, they will be freshly deployed.

# -------------------------
# Contract Addresses
# -------------------------
TEST_USD_ADDRESS=""
GLOBAL_PARAMS_ADDRESS=""
TREASURY_FACTORY_ADDRESS=""
CAMPAIGN_INFO_FACTORY_ADDRESS=""
SIMULATE=true