# =========================
# Deploy Configuration
# =========================

# Wallet and RPC
PRIVATE_KEY=
RPC_URL=

# Optional: Separate RPC URLs for multiple chains
CELO_RPC_URL=
CELO_SEPOLIA_RPC_URL=

# Chain IDs
CHAIN_ID=
CELO_CHAIN_ID=
CELO_SEPOLIA_CHAIN_ID=


# =========================
# Contract Addresses
# =========================

# Optional: Reuse already-deployed contracts
TOKEN_ADDRESS=
GLOBAL_PARAMS_ADDRESS=
TREASURY_FACTORY_ADDRESS=
CAMPAIGN_INFO_FACTORY_ADDRESS=


# =========================
# Protocol Parameters
# =========================

PROTOCOL_ADMIN_ADDRESS=
PROTOCOL_FEE_PERCENT=


# =========================
# Platform Parameters
# =========================

PLATFORM_NAME=
PLATFORM_ADMIN_ADDRESS=
PLATFORM_ADAPTER_ADDRESS=  # Optional: Trusted forwarder address for ERC-2771 meta-transactions (adapter contract)
PLATFORM_FEE_PERCENT=


# =========================
# Token Setup
# =========================

# Only required if TOKEN needs to be pre-minted
TOKEN_MINT_AMOUNT=
TOKEN_NAME=""
TOKEN_SYMBOL=""
BACKER1_ADDRESS=
BACKER2_ADDRESS=


# =========================
# Simulation
# =========================

# Set to "true" or "false" only
SIMULATE=


# =========================
# Verification
# =========================

ETHERSCAN_API_KEY=

# =============================
# Time Related Constraints
# =============================
BUFFER_TIME=
CAMPAIGN_LAUNCH_BUFFER=
MINIMUM_CAMPAIGN_DURATION=
MAX_PAYMENT_EXPIRATION=

# =============================
# Currency + token matrix
# =============================

CURRENCIES=USD,EUR
TOKENS_PER_CURRENCY=0xUsdt...,0xUsdc...,0xDai...;0xEurt...,0xEurc...
