[profile.default]
src = "src"
out = "artifacts"
libs = ["lib"]
via_ir = true
optimizer = true
optimizer_runs = 200
solc_version = "0.8.20"

remappings = [
  "@openzeppelin/=lib/openzeppelin-contracts/"
]


[rpc_endpoints]
alfajores = "${ALFAJORES_RPC_URL}"
